.sphere, .grid {
    fill: none;
    stroke: #DDD;
}

.sphere {
    fill: aliceblue;
}

.country {
    fill: white;
    stroke: #888;
}

.highlight {
    fill: #888;
}

path.night {
    stroke: #55C;
    fill: rgba(0, 0, 0, 0.3);
}
